.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}


.item {
    margin: 10px;
}


